body {
  width: 100vw;
  padding: 1.5rem;
}

h2,
h4 {
  padding: 1rem 0;
}

img {
  width: 15rem;
}

.intro {
  margin-bottom: 1rem;
}

td {
  text-align: center;
}

button {
  width: 3rem;

  border: 1px solid black;

  padding: 0.3rem 0;
  margin-right: 0.5rem;
}

table {
  width: 95%;
  padding: 0 3rem;
}

.visitors {
  margin-top: 1.5rem;
}

.form-check {
  padding: 0.2rem 0;
}

.form-button-wrapper {
  margin-top: 0.5rem;
}
